body{
margin:0;
color:white;
background:url("pink.JPG");
padding:0;
background-size:cover;
font-family:sans-serif;

}

.loginbox
{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:350px;
height:420px;
padding:80px  40px;
box-sizing:border-box;
background:rgba(0,0,0,0.5);
}
h2
{
margin:0;
padding:0 0 20px;
color:red;
text-align:center;

}
.loginbox p{
padding:0;
margin:0;
font-weight:bold;
color:brown;

}
.loginbox input{
width:100%;
margin-bottom:20px;


}
.loginbox input[type="text"], .loginbox input[type="password"]
{
border:none;
border-bottom:1px solid white;
background:transparent;
outline:none;
height:40px;
color:white;
font-size:16px;
}
.loginbox input[type="submit"]
{
border:none;
outline:none;
height:40px;
color:plum;
font-size:16px;
background:rgb(255,38,126);
cursor:pointer;
border-radius:20px;
}
.loginbox input[type="submit"]:hover
{
background:grey;
color:red;
}
.loginbox a{
color:red;
font-size:14px;
font-family:sans-serif;
font-weight;
font-weight:bold;
}
::placeholder
{
color:white;
}
.user
{
width:100px;
heightL100px;
overflow:hidden;
position:absolute;
top:calc(-100px/2);
left:calc(50% - 50px);
border-radius:50%;
}

